<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>

    <!-- DISPLAY OUR PLANTS -->

    <section class="hero is-header has-text-centered">
      <div class="hero-body">
        <p class="title">Your Favorites</p>
        <p class="subtitle">
          <!-- Add new dog button -->
          <a class="button new-plant-button" href="/user/new"
            >Add A New Dog Breed</a
          >
        </p>
      </div>
    </section>

    <main>
      <div
        style="display: flex; flex-wrap: wrap; justify-content: space-around"
      >
        <% for(let i = 0; i < dogs.length; i++) { %>
        <div class="card main-card" style="margin: 30px; max-width: 300px">
          <div class="media-content main-media">
            <div class="main-text">
              <!-- SHOW PAGE -->
              <a href="/user/profile/<%=dogs[i]._id;%>">
                <p class="title is-4"><%= dogs[i].name %></p>
              </a>
            </div>
            <div class="main-image">
              <a href="<%=dogs[i].image.url%>"
                ><img src="<%=dogs[i].image.url%>"
              /></a>
              <!-- <img src="<%= dogs[i].image.url %>" /> -->
            </div>
            <div class="main-spacing"></div>
            <!-- DELETE FORM -->
            <form
              action="/user/profile/<%=dogs[i]._id; %>?_method=DELETE"
              method="POST"
              class="delete-button"
            >
              <input
                type="submit"
                value="Delete Dog Breed"
                class="button is-small is-danger is-outlined"
              />
            </form>
          </div>
        </div>
        <% } %>
      </div>

      <!-- Log out button -->
      <!-- <a class="button logout-button" href="/user/logout">Log Out</a> -->
    </main>

    <!-- THE FOOTER PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>
