<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>

  <section class="hero is-header is-small has-text-centered">
      <div class="hero-body">
        <p class="title is-large"><%= dog.name %></p>
        <p class="subtitle">Scroll down to edit</p>
      </div>
    </section>
        <br>

<main>

 <div
        class="plants-show"

        style="display: flex; flex-wrap: wrap; justify-content: space-around"
      >
        <div class="card main-card" style="margin: 30px;">
          <div class="media-content main-media">
            <div class="main-text">
              <p class="title is-4"><%=dog.name%></p>
              <hr>
              <p class="subtitle is-6"><strong>Temperament: </strong> <%=dog.temperament%></p>
            </div>
            <div class="main-image" id="main-image-show">
              <a href="<%=dog.image.url%>"><img src="<%=dog.image.url%>" /></a>
            </div>
            <% if (dog.breed_group) { %>
            <p><strong>Breed Group: </strong><%=dog.breed_group%></p>
            <% } %>
            <p><strong>Bred For: </strong><%=dog.bred_for%></p>
            <% if (dog.life_span) { %>
            <p><strong>Life Span: </strong><%=dog.life_span%></p>
            <% } %>
            <div class="main-spacing"></div>
          </div><hr>


              <!-- BACK TO PROFILE LINK -->
              <a href="/user/profile"><button class="button is-normal is-fullwidth is-outlined is-success" id="create-button">Back to Profile</button></a><hr>

      </body>
    </html>
</form>


<section class="hero is-warning is-small has-text-centered">
      <div class="hero-body">
        <p class="title is-small">Edit "<%= dog.name %>"</p>
      </div>
    </section>

<main>
<!-- EDIT FORM -->
  <form action="/user/profile/<%= dog._id %>?_method=PUT" method="POST" id="edit-form">

    <!---------- NAME ------------>

                  <div class="field">
                  <label class="label">Name</label>
                  <div class="control">
                    <input class="input" type="text" name="name" value="<%=dog.name%>" placeholder="<%=dog.name%>"><br/>
                  </div>
                </div>


<!---------- TEMPERAMENT ------------>

                <div class="field">
                  <label class="label">Temperament</label>
                  <div class="control">
                    <input class="input" type="text" name="temperament" value="<%=dog.temperament%>" placeholder="<%=dog.temperament%>"><br/>
                  </div>
                </div>


<!---------- ImageURL ------------>
<!-- 
                <div class="field">
                  <label class="label">Image URL</label>
                  <div class="control">
                    <input class="input" type="text" name="image.url" value="<%=dog.image.url%>" placeholder="<%=dog.image.url%>"><br/>
                  </div>
                </div> -->

<!---------- BREED GROUP ------------>

                <div class="field">
                  <label class="label">Breed Group</label>
                  <div class="control">
                    <input class="input" type="text" name="breed_group" value="<%=dog.breed_group%>" placeholder="<%=dog.breed_group%>"><br/>
                  </div>
                </div>

<!---------- BRED FOR ------------>
                <div class="field">
                  <label class="label">Bred For</label>
                  <div class="control">
                    <input class="text" type="text" name="bred_for" value="<%=dog.bred_for%>" placeholder="<%=dog.bred_for%>"></>
                  </div>
                </div>

    <!---------- LIFE SPAN ------------>
                    <div class="field">
                      <label class="label">Life Span</label>
                      <div class="control">
                        <input class="text" type="text" name="life_span" value="<%=dog.life_span%>" placeholder="<%=dog.life_span%>"></>
                      </div>
                    </div>


<!---------- SUBMIT ------------>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Submit</button>
                  </div>
                  <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                  </div>
                </div>
              </div>

          </main>
          <br>


        </body>
        </html>
